<h1>Unit data create</h1>
<form action="/unit/create" method="POST">
  <div>Name: <input name="name" type="text"/></div>
  <div>Health: <input name="health" type="text"/></div>
  <div>Damage: <input name="damage" type="text"/></div>
  <div>Cost: <input name="cost" type="text"/></div>
  <div>Type: <select name="type">
    <option value="none">None</option>
    <option value="light">Light</option>
    <option value="armored">Armored</option>
    <option value="heroic">Heroic</option>
  </select></div>
  <input type="submit"/>
</form>
